.container{
    width:90%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-filter{
    width:100%; 
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}